

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.form-container{
  /*background-color: #f2f3f4;*/
}

.f-section-title{
 margin:0;
 font-size: 20px;
 font-weight: 300;
 border-left: 3px solid #0877c5;
 padding-left: 14px;
}

.transactions-list{
 padding: 0;
}
.transactions-list li{
 list-style-type: none;
}
.form-container .row{
 font-size: 0;
}
.form-container [class|=col]{
 font-size: 10px;
 float: none;
 display: inline-block;
}

.form-container .float--active{
 float: left;
 display: block;
}

.form-container .form-control{
 height: 28px;
 font-size: 13px;
 padding: 6px;
}

.form-container textarea.form-control{
 height: auto;
}

.form-container label{
 font-size: 12px;
}

.form-container .form-group{
 margin-bottom: 12px;
}

.info-cliente{
 border-right: 1px solid #d0d0d0;
}

.row-product .btns-wrapper{
  font-size: 12px;
}

.row-product .btns-actions{
  height: 0;
}

.row-product .btns-collapse{
 text-align: right;;
}

.disp--hide{
 display: none;
}

.row-product, .row-head{
  border-bottom: 1px solid #6d6d6d;
}

.row-product, .row-foot, .row-head{
 padding: 10px;
}

.cell-collapse{
  height: 0px;
}

.row-product:nth-child(2n+1){
 background: #fff;
}

.op-total{
 text-align: center;
}

.transactions-list .row-head, .transactions-list .row-product{
  position: relative;
}

.transactions-list .row, .border--full{
 position: static;
}

.transactions-list{
 position: relative;;
}

.border--full:before{
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 border-left: 1px solid #6d6d6d;
 background-color: white;
 margin-left: -15px;
}

.confirmation-msg{
  border-left: 3px solid #ec971f;
  padding-left: 14px;
}

.confirmation-msg a{
  margin-left: 20px;
  display: inline-block;
  padding: 1px 8px;
}

.toolbar{
    padding: 0;
    margin-bottom: 15px;
    background: #ccc;
    float: left;
    width: 100%;
}

.transactions-list li.row-head{
  padding: 5px;
    background: darkred;
    margin-top: 10px;
    color: #fff;
}

#inventarioModal .modal-dialog {
  width: 95%;
}

#inventarioModal .modal-content {
  /*height: 800px;
  min-height: 100%;*/
}

.modal {
  text-align: center;
  padding: 0!important;
  width: 100%;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#inventarioModal.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

#inventarioModal.modal .table>tbody>tr>td{
  padding: 2px;
      font-size: 12px;
}